#container {
	height: 100vh;
}

.raised-title {
	vertical-align: 0.5ex;
	margin-right: -0.05em;
}

#chat {
	flex-shrink: 1;
	overflow: auto;
}

.chat {
	line-height: 1.4;
}

.chat img, .chat iframe {
	max-width: 100%;
}

.chat pre {
	display: inline;
	font-family: sans-serif;
	white-space: pre-line;
}

.system-message {
	font-style: italic;
}

.user-id {
	font-weight: bold;
}

.chat .user-id {
	vertical-align: top;
}

#message {
	resize: none;
}