@import url('https://fonts.googleapis.com/css?family=Open+Sans:600i');

.app-container {
	height: 100vh;
	margin: 0 auto;
	max-width: 800px;
}

.display-3 {
	font-family: "Open Sans", sans-serif;
}

.lead {
	margin-left: 1.5rem;
}
